html, body, #root, .app {
    height: 100%;
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    margin-top: 5em;
    margin-bottom: 6em;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overflow-wrap {
    overflow-wrap: break-word;
}

body::backdrop {
    background-color: #ffffff;
}

.app {
    background-color: #ffffff;
}

.app-logo {

  height: 3em;
  position: absolute;
  top: 0.3em;
  right: 1em;
}

@media only screen and (min-width: 600px) {
    .app-logo {
        height: 4em;
    }
}

.app-content-container {
    height: 100%;
}

.page-content-container {
    padding: 0 0 7.5em;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

#map {
    margin: 0;
    padding:0
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

/* to draw white circle */
.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

 .custom-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.custom-marker-icon svg {
    position: absolute;
    left: 3px;
    top: 9px;
}


.map-legend i {
    width: 18px;
    height: 18px;
    opacity: 0.7;
}

.map-legend .icon-route {
    background-color: lime;
}

.map-legend .icon-warning {
    background-color: red;
}

.map-legend .icon-current-position {
    background-image: url("../components/map/icons/directions_boat_blue.svg");
    background-size: 18px;
}

.map-route-listing {
    margin: 0;
    padding: 0 14px;
}

.margin-bottom-m {
    margin-bottom: 1em;
}
.margin-top-xl {
    margin-top: 2.5em;
}

.details-content {
    height:  calc(100% - 18px);
}

.AutoRotatingCarousel-content-7 { width: 100% !important;}
