.app {
  font-family: "Arial, sans-serif";
}

.app-logo {
  height: 3em;
  position: absolute;
  top: 0.3em;
  right: 1em;
}

.app-content-container {
  margin-top: 5em;
}

@media only screen and (min-width: 600px) {
  .app-logo {
    height: 4em;
  }
}

#map { width: 100vw; height: 100vh; margin:0; padding:0 }

.leaflet-container {
  height: 380px;
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

/* to draw white circle */
.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

 .custom-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;
}

.custom-marker-icon svg {
    position: absolute;
    left: 3px;
    top: 9px;
}
